#checklist-ul li {
  cursor: pointer;
  position: relative;
  /*padding: 6px ​5px 8px 35px;*/
  list-style-type: none;
  background: #eee;
  /*font-size: 18px;*/
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#checklist-ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#checklist-ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#checklist-ul li.checked {
  /*background: #84c52a;*/
  /*color: #fff;*/
  color: #555;
  /*text-decoration: line-through;*/
}

/* Add a "checked" mark when clicked on */
#checklist-ul li.checked::before {
  content: '';
  position: absolute;
  /*border-color: #fff;*/
  border-color: #84c52a;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 6px;
  left: 16px;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px ​16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the checklist-div */
#checklist-div {
     background-color: #ffffff;
    padding: 5px 5px;
    color: #888888;
    /*text-align: center;*/
}

/* Clear floats after the checklist-div */
#checklist-div:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the #checklist-input */
#checklist-input {
  margin: 0;
  /*border: none;*/
  border-radius: 1;
  width: 84%;
  padding: 10px;
  float: left;
  /*font-size: 16px;*/
}

/* Style the "Add" button */
.checklist-addBtn {
      padding: 5px;
    width: 15%;
    background: #5e64ff;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1;
}

.checklist-addBtn:hover {
  background-color: #bbb;
}
