<div class="timesheet-list-item" style="padding: 7px 15px;">
{% for d in data %}
	<div class="timesheet-column">
		<div class="timesheet-column-title indicator{%if d.documentstatus ==0%} red {%endif%}{%if d.documentstatus ==1%} green{%endif%}  {%if d.documentstatus ==2%} blue{%endif%}{%if d.documentstatus==3 %} darkgrey{%endif%}">
			<span>{{d.employee_name}} ({{ d.total_hrs}} Hrs)</span>
		</div>
        {% for t in d.timesheet %}
       
        <div class="timesheet-cards">
            <div class="timesheet-card-wrapper custom-cards " data-name="{{t.parent}}">  
                <a class="timesheet-card-redirect timesheet-cards-redirect" style="text-decoration: none;" href="#Form/Timesheet/{{t.parent}}">
                    <div class="timesheet-card content">        <div class="timesheet-custom-card-detail">    <div class="tooltips">
                        <div class="timesheet-card-title"><span><b>{{t.activity_type}}</b></span>-<span><b>{{t.hours}} Hrs</b></span>
                    </div>

                    <div class="timesheet-card-title"><span>{{t.subject}}</span>
                    </div>
                    {%if t.task_description%}
                    <span class="tooltiptext">{{t.task_description}}</span>
                    {%endif%}
                </div>
            </div>       
        </div>  
                </a>
            </div>
        </div>
      
        {% endfor %}
	</div>
		
	
{% endfor %}
</div>

<style type="text/css">
	.timesheet-list-item {
    min-height: calc(100vh - 252px);
    background-color: #fafbfc;
    display: flex;
    overflow: auto;
}
.timesheet-list-item .timesheet-column {
    flex: 0 0 230px;
    max-width: 230px;
    background-color: #fafbfc;
    border-right: 1px solid #d1d8dd;
    padding: 15px;
}
.timesheet-list-item .timesheet-column-title {
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
    font-size: 12px;
}
.indicator, .indicator-right {
    background: none;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    color: #6c7680;
}
.timesheet-list-item .timesheet-card-wrapper {
    position: relative;
}
.timesheet-list-item  .timesheet-card-wrapper .timesheet-card-redirect {
    display: block;
}
a, a:hover, a:active, a:focus, .btn, .btn:hover, .btn:active, .btn:focus {
    outline: 0;
}
a, .badge {
    transition: 0.2s;
}
a, .badge {
    transition: 0.2s;
}
a {
    cursor: pointer;
}
a {
    color: #36414c;
    text-decoration: none;
}
span{
text-decoration: none;
}
a {
    background-color: transparent;
}
.timesheet-list-item .timesheet-card-title {
    max-width: 90%;
    font-size: 12px;
}
.timesheet-list-item  .timesheet-card {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    border-radius: 2px;
    padding: 6px 6px 6px 8px;
    margin-top: 10px;
}
/* Tooltip container */ 
.tooltip {   
    position: relative;   
    display: inline-block;   
 }  
 /* Tooltip text */ 
 .tooltiptext {   
    visibility: hidden;   
    width: 100%;   
    background-color: black;   color: #fff;   text-align: center;   border-radius: 6px;   padding: 5px 5px 5px 5px;   position: absolute;   z-index: 1;   bottom: 100%;   left: 50%;   margin-left: -60px;    opacity: 0;   transition: opacity 1s; }  
    /* Show the tooltip text when you mouse over the tooltip container */ 
    .tooltips:hover .tooltiptext {   visibility: visible;   opacity: 1; } 
</style>