<div class="dashboard-list-item" style="padding: 12px 15px;">
	<div class="row">
		<div class="col-sm-2 small text-muted" style="margin-top: 8px;">
			Employee
		</div>
		<!-- <div class="col-sm-2 small text-muted" style="margin-top: 8px;">
			Item
		</div>
		<div class="col-sm-1 small text-muted" style="margin-top: 8px;">
			Stock Capacity
		</div>
		<div class="col-sm-2 small text-muted" style="margin-top: 8px;">
			Balance Stock Qty
		</div>
		<div class="col-sm-2 small text-muted" style="margin-top: 8px;">
			% Occupied
		</div> -->
	</div>
</div>