{% for d in data %}
	<div class="dashboard-list-item" style="padding: 7px 15px;">
		<div class="row">
			<div class="col-sm-2 small" style="margin-top: 8px;">
				<a data-type="warehouse" data-name="{{ d.name }}">{{ d.name }}</a>
			</div>
		
			<!-- <div class="col-sm-2 small">
				<div class="progress" title="Occupied Qty: {{ d.actual_qty }}" style="margin-bottom: 4px; height: 7px; margin-top: 14px;">
					<div class="progress-bar" role="progressbar"
						aria-valuenow="{{ d.percent_occupied }}"
						aria-valuemin="0" aria-valuemax="100"
						style="width:{{ d.percent_occupied }}%;
						background-color: {{ d.color }}">
					</div>
				</div>
			</div>
			<div class="col-sm-1 small" style="margin-top: 8px;">
				{{ d.percent_occupied }}%
			</div>
			{% if can_write %}
			<div class="col-sm-1 text-right" style="margin-top: 2px;">
				<button class="btn btn-default btn-xs btn-edit"
				style="margin-top: 4px;margin-bottom: 4px;"
				data-warehouse="{{ d.warehouse }}"
				data-item="{{ escape(d.item_code) }}"
				data-company="{{ escape(d.company) }}">{{ __("Edit Capacity") }}</a>
			</div>
			{% endif %} -->
		</div>
	</div>
{% endfor %}