<div class="kanban-card-wrapper custom-cards {{ disable_click }}" data-name="{{name}}">
	<a class="kanban-card-redirect kanban-cards-redirect" href="#">
		<div class="kanban-card content">
			<!-- <div class="kanban-card-title"><b>
				{{ title }}</b>
			</div> -->
			<div class="kanban-custom-card-detail">
			</div>
			<!-- <div class="kanban-card-meta">
			</div> -->
		</div>
	</a>
</div>
<style>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
   opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>