<div class="kanban-card-wrapper custom-card {{ disable_click }}" data-name="{{name}}">
	<a class="kanban-card-redirect" href="#">
		<div class="kanban-card content">
			<div class="kanban-card-title"><b>
				{{ title }}</b>
			</div>
			<div class="kanban-card-detail">
			</div>
			<div class="kanban-card-meta">
			</div>
		</div>
	</a>
</div>
<style>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  /*position: absolute;*/
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
}
</style>